@mixin flex-box($justify:space-between, $dir:row ){
    display: flex;
    justify-content: $justify;
    flex-direction: $dir;

}


@mixin Cons($Bgimg, $cover:cover, $rep: no-repeat,) {
    background-image: url($Bgimg);
    background-repeat: $rep;
    background-size: contain;
    width: 219px;
    height: 190px;
    margin: auto;
}


@mixin p($margin: auto) {
    margin: auto;
    text-align: center;
    transform: translateY(190px);
}


